{% extends "base.html" %}

{% block title %}
    Город - {{ city.name }}
{% endblock %}

{% block content %}
    <h1>Город</h1>
    <div class="row">
        <div class="col-md">
            <p>Название города: {{ city.name }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-40">
            <a href="{% url 'cities:home' %}">
                <button type="button" class="btn btn-light">Назад к списку</button>
            </a>
        </div>
    </div>
{% endblock %}