{% extends "base.html" %}

{% block title %}
    Список городов
{% endblock %}

{% block content %}
    <h1>Список городов</h1>
    <div class="row">
        <div class="col-md-8 mx-auto my-2">
            <table class="table table-striped">
                <tbody>
                 {% for city in cities %}


                <tr>
                    <td><a href="{% url 'cities:city-detail' pk=city.id %}">{{ city.name }}</a></td>
                    <td><a href="{% url 'cities:city-update' pk=city.id %}">
                        <button type="submit" class="btn btn-warning">Редактировать</button>
                    </a></td>
                    <td><a href="{% url 'cities:city-delete' pk=city.id %}">
                        <button type="submit" class="btn btn-danger">Удалить</button>
                    </a></td>
                </tr>
                 {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Submit">
            </form>
        </div>
    </div>
{% endblock %}