<div class="row">
    <div class="col-md-4">
        <form method="post" action="{{ action }}">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">{{ button }}</button>
        </form>
    </div>
</div>